In [22]:
import pandas as pd
trips = pd.read_excel("C:/GIT_VRP/VRP_SAV/eqasim_trips.xlsx")

In [14]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 KB 4.9 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\Users\bsahbani\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [19]:
pip install pandas

Requirement already satisfied: pandas in c:\users\bsahbani\appdata\local\programs\python\python39\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\bsahbani\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\bsahbani\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\bsahbani\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\bsahbani\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the 'c:\Users\bsahbani\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [23]:
trips

,person_id,person_trip_id,origin_x,origin_y,destination_x,destination_y,departure_time,travel_time,vehicle_distance,routed_distance,mode,preceding_purpose,following_purpose,returning,euclidean_distance
0,501821,0,565626.293630,6.980596e+06,565626.293630,6.980596e+06,15618.0,0.0,0.0,0.000000,walk,work,home,True,0.000000
1,773443,0,521905.602223,6.969609e+06,521905.602223,6.969609e+06,15620.0,0.0,0.0,0.000000,walk,work,home,True,0.000000
2,297626,0,526523.102464,6.953013e+06,526523.102464,6.953013e+06,15622.0,0.0,0.0,0.000000,walk,work,home,True,0.000000
3,573802,0,491418.570733,6.943689e+06,491418.570733,6.943689e+06,15651.0,0.0,0.0,0.000000,car,work,home,True,0.000000
4,662865,0,566181.698618,6.968186e+06,566181.698618,6.968186e+06,15685.0,0.0,0.0,0.000000,walk,work,home,True,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636358,1103427,3,561014.838570,6.928516e+06,562056.910814,6.929133e+06,86200.0,200.0,0.0,2248.073193,car_passenger,leisure,home,True,1210.802096
636359,766622,2,534949.636203,6.975852e+06,558721.153608,6.939015e+06,67971.0,18429.0,0.0,64134.351542,car_passenger,home,shop,False,43841.054585
636360,328803,3,543622.602064,6.936587e+06,540403.854063,6.935035e+06,82182.0,4218.0,0.0,4958.259589,car_passenger,leisure,leisure,False,3573.547726
636361,873261,4,540403.854063,6.935035e+06,540403.854063,6.935035e+06,86400.0,0.0,0.0,0.000000,car_passenger,leisure,leisure,False,0.000000
636362,370024,6,559412.072463,6.938909e+06,562928.846792,6.948257e+06,81895.0,4505.0,0.0,13966.178768,bike,leisure,home,True,9987.988416

In [8]:
cleaned_tripdb = trips[trips['mode']=='car']
cleaned_tripdb = cleaned_tripdb[['person_id', 'person_trip_id', 'origin_x', 'origin_y', 'destination_x', 'destination_y', 'departure_time', 'travel_time', 'routed_distance']]
cleaned_tripdb

,person_id,person_trip_id,origin_x,origin_y,destination_x,destination_y,departure_time,travel_time,routed_distance
3,573802,0,491418.570733,6.943689e+06,491418.570733,6.943689e+06,15651.0,0.0,0.000000
5,298322,0,610233.249007,6.933279e+06,610233.249007,6.933279e+06,15696.0,0.0,0.000000
9,804061,0,514913.864901,6.962800e+06,514913.864901,6.962800e+06,15771.0,0.0,0.000000
10,428408,0,552954.204643,6.973713e+06,552954.204643,6.973713e+06,15777.0,0.0,0.000000
12,1066879,0,561496.717966,6.928530e+06,561879.196826,6.928982e+06,15733.0,191.0,1054.303701
...,...,...,...,...,...,...,...,...,...
636330,239485,3,543775.053490,6.939740e+06,540491.876563,6.961167e+06,53997.0,32397.0,30702.610499
636338,430321,0,539101.216274,6.973493e+06,558721.153608,6.939015e+06,56076.0,30320.0,56534.455998
636339,789216,3,555841.438120,6.973053e+06,559190.647865,6.938946e+06,62656.0,23740.0,52725.119680
636354,799462,1,543775.053490,6.939740e+06,537396.703278,6.949681e+06,80283.0,6117.0,19238.969313
636355,481808,2,559412.072463,6.938909e+06,552322.891042,6.978049e+06,78395.0,8005.0,54819.354747

In [13]:
dropline=[]
for i in cleaned_tripdb.index:
    if int(cleaned_tripdb['travel_time'][i]) == 0:
        dropline.append(i)
cleaned_tripdb = cleaned_tripdb.drop(dropline)

In [14]:
cleaned_tripdb

,person_id,person_trip_id,origin_x,origin_y,destination_x,destination_y,departure_time,travel_time,routed_distance
12,1066879,0,561496.717966,6.928530e+06,561879.196826,6.928982e+06,15733.0,191.0,1054.303701
17,312347,0,512208.536214,6.964612e+06,511745.197065,6.963538e+06,15682.0,367.0,3376.255082
20,1019717,0,559850.082562,6.929287e+06,561965.049210,6.928495e+06,15673.0,515.0,3157.968142
22,15144,0,552119.038525,6.940320e+06,551910.434530,6.938864e+06,15819.0,398.0,1971.995832
23,617366,0,565207.443745,6.936452e+06,567006.277214,6.935711e+06,15943.0,284.0,3224.334460
...,...,...,...,...,...,...,...,...,...
636330,239485,3,543775.053490,6.939740e+06,540491.876563,6.961167e+06,53997.0,32397.0,30702.610499
636338,430321,0,539101.216274,6.973493e+06,558721.153608,6.939015e+06,56076.0,30320.0,56534.455998
636339,789216,3,555841.438120,6.973053e+06,559190.647865,6.938946e+06,62656.0,23740.0,52725.119680
636354,799462,1,543775.053490,6.939740e+06,537396.703278,6.949681e+06,80283.0,6117.0,19238.969313
636355,481808,2,559412.072463,6.938909e+06,552322.891042,6.978049e+06,78395.0,8005.0,54819.354747

In [15]:
dropline=[]
for i in cleaned_tripdb.index:
    if int(cleaned_tripdb['travel_time'][i]) > 5400:
        dropline.append(i)
cleaned_tripdb = cleaned_tripdb.drop(dropline)

In [16]:
cleaned_tripdb

,person_id,person_trip_id,origin_x,origin_y,destination_x,destination_y,departure_time,travel_time,routed_distance
12,1066879,0,561496.717966,6.928530e+06,561879.196826,6.928982e+06,15733.0,191.0,1054.303701
17,312347,0,512208.536214,6.964612e+06,511745.197065,6.963538e+06,15682.0,367.0,3376.255082
20,1019717,0,559850.082562,6.929287e+06,561965.049210,6.928495e+06,15673.0,515.0,3157.968142
22,15144,0,552119.038525,6.940320e+06,551910.434530,6.938864e+06,15819.0,398.0,1971.995832
23,617366,0,565207.443745,6.936452e+06,567006.277214,6.935711e+06,15943.0,284.0,3224.334460
...,...,...,...,...,...,...,...,...,...
636282,605151,3,546974.104960,6.939840e+06,551066.197301,6.942692e+06,84374.0,2007.0,7415.775816
636285,417781,2,496602.085560,6.941896e+06,496211.907971,6.942775e+06,86034.0,348.0,1488.200856
636298,822419,6,562429.021923,6.981990e+06,562429.021923,6.981990e+06,86384.0,1.0,0.000000
636300,822419,7,562429.021923,6.981990e+06,562429.021923,6.981990e+06,86385.0,1.0,0.000000
636329,291969,3,498304.871257,6.959764e+06,498304.871257,6.959764e+06,86393.0,1.0,0.000000

In [17]:
cleaned_tripdb.to_excel("cleaneddb.xlsx")

In [73]:
def createwarehousefile(listofid, position_x, position_y, numberofSAV, listofSAV):
    dict = {'warehouse_id': listofid, 'position_x': position_x, 'position_y': position_y,'number of SAV':numberofSAV, 'attributed SAV': listofSAV} 
    WareHouses = pd.DataFrame(dict)
    #WareHouses = pd.DataFrame([zip(listofid,position_x,position_y,numberofSAV,listofSAV)], columns=['ID', 'position_x', 'position_y','number of SAV', 'attributed SAV'])
    WareHouses.to_excel("WareHouse1.xlsx")

In [60]:
import random
import pandas as pd 
listofid =[] 
position_X =[]
position_Y =[]
numberofSAV =[]
listofattributedSAV =[]
randomposition =[]
listofSAVof = []
sav_id = 0
for i in range (4):
    if i==0:
        listofid.append(111111)
        k =  random.randint(0, 636363)
        if k not in randomposition:
            randomposition.append(k)
    else:
        listofid.append(listofid[i-1]+111111)
    
    k =  random.randint(0, 636363)
    if k not in randomposition:            
        randomposition.append(k)
        position_X.append(trips['origin_x'][k])
        position_Y.append(trips['origin_y'][k])
    numberofSAV.append(random.randint(2, 10))
    listofSAV = []
    while len(listofSAV) < numberofSAV[i]:
        sav_id = sav_id + 1
        listofSAV.append(sav_id)
    listofattributedSAV.append(listofSAV)

In [29]:
listofid

[111111, 222222, 333333, 444444]

In [32]:
numberofSAV

[9, 8, 6, 5]

In [38]:
listofattributedSAV

[{1, 2, 3},
 {4, 5, 6, 7, 8, 9, 10},
 {11, 12, 13, 14, 15, 16, 17, 18},
 {19, 20, 21, 22, 23, 24}]

In [74]:
createwarehousefile(listofid, position_X, position_Y, numberofSAV, listofattributedSAV)

In [75]:
import pandas as pd
warehouses = pd.read_excel("C:/GIT_VRP/VRP_SAV/WareHouse1.xlsx",index_col=0)
warehouses

,warehouse_id,position_x,position_y,number of SAV,attributed SAV
0,111111,558721.153608,6.939015e+06,10,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
1,222222,586026.958576,6.959604e+06,5,"[11, 12, 13, 14, 15]"
2,333333,605308.221024,6.935465e+06,7,"[16, 17, 18, 19, 20, 21, 22]"
3,444444,561802.795685,6.927049e+06,8,"[23, 24, 25, 26, 27, 28, 29, 30]"

In [72]:
for k in warehouses.index:
    print(warehouses['warehouse_id'][k])

111111
222222
333333
444444

In [66]:
warehouses['warehouse_id'][0]

111111

In [67]:
warehouses['attributed SAV'][0]

'[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'

In [68]:
import json
json.loads(warehouses['attributed SAV'][0])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
import re

def parse_set_string(s):
    if s == 'set()':
        return None  # or return set() if you prefer
    else:
        string_nums_only = re.sub('[^0-9,]', '', s)  
        split_nums = string_nums_only.split(',')
        return set(map(int, split_nums))

    
df.set_array.apply(parse_set_string)

In [ ]:
import pandas as pd
WareHouses = pd.read_excel("C:/GIT_VRP/VRP_SAV/WareHouse.xlsx",index_col=0)
WareHouses